@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <h1>Moje przepisy </h1>
    </div>
</div>
 
<div class="row">
     @if(Model?.Count>0){
                    
                
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Link</th>
                    <th scope="col">Operacje</th>
                </tr>
            </thead>
            <tbody>
              
    @foreach (var m in Model)
    {
        var rec = m.Recipe;
                <tr>
                    <td>@rec.Name</td>
                    <td>@rec.Description</td>
                    <td><a asp-controller="Article" asp-action="Index" asp-route-id="@rec.Id">Link</a>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <form method="post" asp-controller="Favourites" asp-action="Modify">
                            <input type="hidden" name="RowId" value=@rec.Id>
                            <button type="submit" class="btn btn-primary">Modyfikuj</button>
                        </form>

                        <form method="post" asp-controller="Favourites" asp-action="Delete">
                            <input type="hidden" name="RowId" value=@rec.Id>
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                        </div>

                    </td>
                </tr>
           
    }
     </tbody>
        </table>
     }
</div>