@page
@using Microsoft.AspNetCore.Identity
@model FavoritesModel
@{
    ViewData["Title"] = "Moje przepisy";
}

<div class="row">

    <div class="col-md-12">
        <h1>Moje przepisy </h1>
    </div>
</div>

<div class="row">
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Link</th>
                    <th scope="col">Operacje</th>
                </tr>
            </thead>
            <tbody>
    @foreach (var rec in Model.Recipes)
    {
        
                <tr>
                    <td>@rec.Name</td>
                    <td>@rec.Description</td>
                    <td><a asp-page="./Article" asp-route-id="@rec.Id" class="btn btn-primary">Link</a>
                    </td>
                    <td>
                        <form method="PATCH" action="ModifyRecipe">
                            <input type="hidden" value=@rec.Id/>
                            <button type="submit" class="btn btn-primary">Modyfikuj</button>
                        </form>

                        <form method="DELETE" action="DeleteRecipe">
                            <input type="hidden" value=@rec.Id/>
                            <button type="submit" class="btn btn-primary">Usuń</button>
                        </form>

                    </td>
                </tr>
           
    }
     </tbody>
        </table>

</div>