@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="zdjęcie potrawy">
    <div class="card-body">
        <h5 class="card-title">Tytuł</h5>
        <a href="#" class="btn btn-primary">Przejdź do przepisu</a>
    </div>
</div>