@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">

    <div class="col-md-12">
        <a class="btn btn-info" asp-page="AddArticle">
            Dodaj artykuł
        </a>
    </div>
</div>

<div class="row">

    @for (int j = 0; j < 10; j++)
    {
        <div class="col-md-4 py-2">
            <div class="card h-100">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">title</h5>
                    <h6 class="card-subtitle mb-2">subtitle</h6>
                    <p class="card-text">description</p>
                    <a href="" class="btn btn-primary">Link</a>
                </div>
            </div>
        </div>
    }

</div>