@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="row">

    <div class="col">
        <a class="btn btn-success" asp-page="AddArticle">
            Dodaj artykuł
        </a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1 class="h1 text-center">Najpopularniejsze</h1>
    </div>
</div>

<div class="row">
    @await Html.PartialAsync("Shared/_RecipeGrid.cshtml")
</div>