@page "/Profile/{username}"
@model ProfileModel
@{
    ViewData["Title"] = "Profil użytkownika";
}

@if(Model.Recipes?.Count()>0)
{

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">
            @Model.UserName
        </h1>
    </div>
</div>

<div class="row">

    @foreach (var recipe in Model.Recipes)
    {

        <div class="col-md-4 py-2">
            <div class="card h-100">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                    <p class="card-text">@recipe.Description</p>
                    <a href="" class="btn btn-primary">Link</a>
                </div>
            </div>
        </div>
    }

</div>

}
else
{
<h1>Ups!</h1>
<h3>Nie ma takiego użytkownika</h3>
}