@page "/Profile/{username}"
@model ProfileModel
@{
    ViewData["Title"] = "Profil użytkownika";
}

@if(Model.Recipes?.Count()>0)
{

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">
            @Model.UserName
        </h1>
    </div>
</div>

<div class="row">
    @await Html.PartialAsync("Shared/_RecipeGrid.cshtml")
</div>

}
else
{
<h1>Ups!</h1>
<h3>Nie ma takiego użytkownika</h3>
}