@page
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model SearchModel
@{
    ViewData["Title"] = "Wyniki";
}



        @if(Model.Recipe!=null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tytuł
                        </th>
                        <th>
                            Opis
                        </th>
                        <th>
                            Autor
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Recipe)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @UserManager.FindByIdAsync(item.UserId).Result.UserName
                        </td>
                    </tr>
                    }
            
                </tbody>
            </table>


        }
       
