@page
@using Microsoft.AspNetCore.Identity
@using ProjektDotnet.Models;
@inject UserManager<ApplicationUser> UserManager
@model SearchModel
@{
    ViewData["Title"] = "Wyniki";
}

<form>
    <div class="row">
        <div class="col">
            <label asp-for="SearchCategory">Kategoria</label>
            <select asp-for="SearchCategory" class="form-control" asp-items="Model.Category">
                <option value="">Wszystkie</option>
            </select>
        </div>
        <div class="col">            
            <label>Nazwa</label>
            <input type="text" class="form-control" name="SearchString">
        </div>
        <div class="col">
            <label>Autor</label><input type="text" class="form-control"  name="SearchAuthor">
        </div>         
        <input type="submit" class="btn btn-primary" value="Wyszukaj" >

    </div> 
</form>


@if (Model.RecipeCategories?.Count>0)
{
    <div class="row my-4">
        <h1>Rezultat</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tytuł
                    </th>
                    <th>
                        Opis
                    </th>
                    <th>
                        Autor
                    </th>
                    <th>
                        Link
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RecipeCategories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @UserManager.FindByIdAsync(item.UserId).Result.UserName
                        </td>
                        <td>
                            <a asp-controller="Article" asp-action="Index" asp-route-id="@item.Id">Link</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>


}